@font-face {
   font-family: "inter";
   src: url("fonts/Inter-VariableFont_slnt\,wght.ttf");
}
@font-face {
   font-family: "inter-extra-bold";
   src: url("fonts/static/Inter-ExtraBold.ttf");
}
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
a {
   text-decoration: none;
}
img {
   max-width: 100%;
}
ul {
   list-style: none;
}
body {
   font-family: "inter", sans-serif;
   min-width: 320px;
}
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
}
.menu-icon {
   cursor: pointer;
}
.overlay {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   visibility: hidden;
   opacity: 0;
   z-index: 99;
   background-color: rgba(0, 0, 0, 0.5);
   transition: opacity 0.3s ease, visibility 0.3s ease;
}
.nav {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   width: 70%;
   max-width: 400px;
   background-color: rgb(254,253,249);
   padding: 1.5rem ;
   z-index: 100;
   display: flex;
   flex-direction: column;
   gap: 2.5rem;
   transform: translateX(100%);
   overflow: auto;
}
.active-menu {
   transform: translateX(0);
   transition: transform 0.3s ease;
}
.body-active-menu {
   overflow: hidden;
}
.active-overlay {
   opacity: 1;
   visibility: visible;
}
.menu-close {
   align-self: flex-end;
   cursor: pointer;
}
.nav-list {
   display: flex;
   flex-direction: column;
   align-self: flex-start;
   gap: 1.5rem;
}
.nav-list li a {
   color: black;
   font-size: 1.1rem;
   font-weight: 600;
   transition: color 0.3s ease;
}
.nav-list li a:hover {
   color: rgba(255, 68, 0, 0.85);
}
.main {
   padding: 1rem 1rem 5rem 1rem;
   display: flex;
   flex-direction: column;
   gap: 2.5rem;
}
.main-top {
   display: flex;
   flex-direction: column;
   gap: 2.5rem;

}
.featured-article {
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}
.featured-image-mobile {
   display: block;
}
.featured-image-desktop {
   display: none;
}
.featured-content {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}
.featured-title {
   font-family: "inter-extra-bold";
   font-size: 2.5rem;
}
.featured-info {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}
.featured-description {
   font-size: 0.95rem;
   font-weight: 500;
   color: rgba(0, 0, 0, 0.55);
   line-height: 1.9rem;
}
.read-more {
   width: 12rem;
   background-color: rgb(241,93,81);
   color: rgb(5, 5, 50);
   padding: 1rem 1.5rem;
   text-align: center;
   font-weight: 700;
   letter-spacing: 4px;
   transition: all 0.3s ease;
}
.read-more:hover {
   cursor: pointer;
   background-color: rgb(5, 5, 50);
   color: white;
}
.new-section {
   background-color: rgb(0,0,26);
   padding: 1rem;
   display: flex;
   flex-direction: column;
   gap: 2.2rem;
}
.new-title {
   color: rgb(223,158,74);
   font-size: 2.1rem;
}
.new-articles {
   display: flex;
   flex-direction: column;
   gap: 2.5rem;
}
.new-articles hr {
   border: 1px solid rgba(255, 255, 255, 0.4);
}
.new-article {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}
.new-article h3 a {
   color: white;
   font-size: 1.3rem;
   transition: all 0.3s ease;
}
.new-article a:hover {
   cursor: pointer;
   color: rgb(223,158,74);
}
.new-article p {
   color: rgba(255, 255, 255, 0.75);
   font-size: 0.96rem;
   line-height: 1.7rem;
}
.article-list {
   display: flex;
   flex-direction: column;
   gap: 2.2rem;
}
.article-card {
   display: flex;
   gap: 1.5rem;
}
.article-card-image {
   width: 6rem;
}
.article-card-content {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.article-card-number {
   color: rgba(255, 68, 0, 0.85);
   font-size: 2rem;
   font-weight: 700;
}
.article-card-title a {
   color: black;
   font-size: 1.18rem;
   font-weight: 800;
   transition: all 0.3s ease;
}
.article-card-title a:hover {
   cursor: pointer;
   color: rgba(255, 68, 0, 0.85);
}
.article-card-description {
   font-size: 0.96rem;
   font-weight: 500;
   color: rgba(0, 0, 0, 0.6);
}
@media (min-width: 768px) {
   body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5rem 0;
   }
   .header {
      max-width: 900px;
      width: 100%;
      padding: 0.5rem 1rem;
   }
   .menu-icon {
      display: none;
   }
   .nav {
      position: static;
      padding: 0;
      transform: none;
      transition: none;
      overflow: visible;
      background-color: transparent;
   }
   .menu-close {
      display: none;
   }
   .nav-list {
      display: flex;
      flex-direction: row;
      gap: 1rem;
   }
   .nav-list li a {
      color: rgba(0, 0, 0, 0.55);
      font-size: 0.8rem;
   }
   .main {
      max-width: 900px;
      width: 100%;
      padding: 1rem;
   }
   .main-top {
      gap: 2rem;
   }
   .featured-article {
      gap: 1rem;
   }
   .featured-image-mobile {
      display: none;
   }
   .featured-image-desktop {
      display: block;
   }
   .featured-content {
      flex-direction: row;
      align-items: center;
      gap: 5rem;
   }
   .featured-title {
      font-size: 3rem;
   }
   .featured-description {
      font-size: 1rem;
      line-height: 2rem;
   }
   .new-section {
      gap: 2rem;
   }
   .new-title {
      font-size: 2.5rem;
   }
   .new-articles {
      gap: 2rem;
   }
   .new-article h3 a {
      font-size: 1.5rem;
   }
   .new-article p {
      font-size: 1rem;
   }
   .article-list {
      gap: 2rem;
   }
   .article-card {
      gap: 2rem;
   }
   .article-card-image {
      width: 8rem;
   }
   .article-card-number {
      font-size: 2.5rem;
   }
   .article-card-title a {
      font-size: 1.5rem;
   }
   .article-card-description {
      font-size: 1.1rem;
   }
}

@media (min-width: 1024px) {
   .header {
      max-width: 1240px;
   }
   .nav-list {
      gap: 2rem;
   }
   .main {
      max-width: 1240px;
   }
   .main-top {
      flex-direction: row;
      gap: 2rem;
   }
   .featured-article {
      width: 140%;
   }
   .featured-content {
      gap: 2rem;
   }
   .new-section {
      gap: 1.5rem;
   }
   .new-articles {
      gap: 1.5rem;
   }
   .new-article h3 a {
      font-size: 1.3rem;
   }
   .new-article p {
      font-size: 0.95rem;
   }
   .article-list {
      gap: 2rem;
      flex-direction: row;
      justify-content: space-between;
   }
   .article-card {
      flex: 1;
      gap: 1rem;
   }
   .article-card-image {
      width: 7rem;
   }
   .article-card-content {
      justify-content: space-between;
   }
   .article-card-number {
      font-size: 1.8rem;
   }
   .article-card-title a {
      font-size: 1.3rem;
   }
   .article-card-description {
      font-size: 0.8rem;
   }
}

@media (min-width: 1203px) {
   .article-card-content {
      justify-content: space-evenly;
   }
   .article-card-number {
      font-size: 2rem;
   }
   .article-card-description {
      font-size: 0.9rem;
   }
}